.card {
  padding: $spacing;
  margin: 0 1rem $spacing 1rem;
  border-radius: $border-radius;
  box-shadow: $shadow-dark;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing;
}
