.adopt {
  //limit to 3 columns even on larger screens
  //have not figured out how to do this with flex yet
  // margin: 0 auto;
  display: grid;
  justify-content: center;
  gap: $spacing;
  // grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-template-columns: repeat(3, minmax(250px, 350px));

  .card {
    // flex: 0 32%;
    // max-width: 250px;
    // width: 250px;

    padding: $spacing;
    margin: 0 1rem $spacing 1rem;
    border-radius: $border-radius;
    box-shadow: $shadow-dark;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing;
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .adopt {
    grid-template-columns: repeat(2, 0.5fr);
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .adopt {
    grid-template-columns: 350px;
  }
}
