.blog-post {
  // padding: 0 1.25rem 0 1.25rem;
  padding: 1.25rem;
  margin: 0 1rem 1.25rem 1rem;
  // margin-bottom: 1.25rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: white;
  display: flex;
  align-items: center;
  gap: 1.25rem;

  .blog-post-body {
    .blog-post-title {
      font-size: 1.5rem;
    }
  }
}
