.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 50px;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;

  background-color: black;

  a {
    //TODO: add hover underline
    //TODO: fix cursor not showing
    color: white;
  }
}
