.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 50px;
  margin-bottom: $spacing;
  font-size: 1.5rem;

  background-color: black;

  a {
    //TODO: add hover underline

    color: white;
  }
}
